button {
  &:hover {
    cursor: pointer;
  }
}

.layout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  background: rgb(54, 217, 182);
  background: linear-gradient(
    90deg,
    rgb(24, 69, 83) 0%,
    rgb(32, 152, 126) 43%,
    rgb(66, 83, 123) 100%
  );
}

.task_container {
  height: 90%;
  border-radius: 15px;
  padding: 1rem 0.7rem;
  overflow-y: scroll;
  width: 750px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;

  margin-top: 100px;
  margin-bottom: 100px;

  justify-content: space-around;
  align-items: flex-start;
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.form_box {
  display: flex;
  height: 100%;
  padding: 1rem;
}

.black_outlined {
  color: #343a40;
  border-color: #343a40 !important;

  &:hover {
    background-color: #343a40 !important;
    color: #fff;
  }
}

.green_outlined {
  color: #13834b;
  border-color: #13834b !important;

  &:hover {
    background-color: #13834b !important;
    color: #fff;
  }
}

.red_outlined {
  color: #94271b;
  border-color: #94271b !important;

  &:hover {
    background-color: #94271b !important;
    color: #fff;
  }
}

.blue_outlined {
  color: #17a2b8;
  border-color: #17a2b8 !important;

  &:hover {
    background-color: #17a2b8 !important;
    color: #fff;
  }
}
